html,
body {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
#lgNav{
  background-color: #252525;
}
#lgNav .nav-item{
  padding: 0;
  margin: 0;
}
#lgNav a{
  text-decoration: none;
  color: #80ffdb;
}
#brand{
  color: white;
}
.sidebar {
  min-height: 100vh !important;
  z-index: 100;
  background-color: #252525 !important;
  padding: 2rem 0 0;
  border-radius: 0rem 0 4rem 0rem;
}
.sidebar a {
  color: #80ffdb;
  font-weight: 400;
  text-decoration: none;
}
hr {
  border: 0;
  border-top: 3px solid rgba(202, 202, 202, 0.1);
}
.nav-item {
  padding: 0rem 1rem;
}
.nav-item a:hover {
  color: white;
}
.nav {
  display: block;
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1rem;
}
#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
.form {
  padding: 1rem;
}
.card {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button {
  background-color: #80ffdb;
  color: #252525;
  opacity: 0.9;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: #80ffdb solid 2px;
}
.form-control {
  border-radius: 0.5rem;
}
.button:hover {
  background-color: #80ffdb;
  color: #252525;
  border: #80ffdb solid 2px;
  opacity: 1;
  border-radius: none;
  font-weight: bold;
}
.image {
  width: 80%;
  border-radius: 100%;
  z-index: 100;
}
.overlap {
  width: 50%;
  border-radius: 100%;
  top: 0.1rem;
  right: -2.5rem;
  position: absolute;
}
.googlebtn {
  border-right: solid #4285f4 2px;
  background-color: #ffffff;
  border-left: solid #db4437 2px;
  border-radius: 1rem;
  border-bottom: solid #f4b400 2px;
  opacity: 1;
  font-weight: bold;
  border-top: solid #0f9d58 2px;
  padding: 0.5rem 2.5rem;
}
.cardLogin {
  font-weight: 700;
  max-width: 30rem;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./bg.png");
  background-size: cover;
  color: black;
}
.google-icon-svg {
  width: 1.5rem;
  height: 1.5rem;
  user-select: none;
}
.btn:focus {
  outline: none !important;
  box-shadow: none;
  background-color: #80ffdb;
}
.form-control:focus {
  color: #252525;
  outline: none !important;
  box-shadow: none;
  border: solid #80ffdb 1px;
}
.form-control:hover {
  outline: none !important;
  box-shadow: none;
  border: solid #80ffdb 1px;
}
