html,
body {
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
  margin: 0;

}
#lgNav {
  background-color: #252525;
}
#lgNav .nav-item {
  padding: 0;
  margin: 0;
}
#lgNav a {
  text-decoration: none;
  color: #80ffdb;
}
#brand {
  color: white;
}
.sidebar {
  position: sticky;
  min-height: 100vh !important;
  z-index: 100;
  background-color: #252525 !important;
  padding: 2rem 0 0;
  border-radius: 0rem 0 4rem 0rem;
}
.sidebar a {
  color: #80ffdb;
  font-weight: 400;
  text-decoration: none;
}
hr {
  border: 0;
  border-top: 3px solid rgba(202, 202, 202, 0.1);
}
.nav-item {
  padding: 0.5rem 1rem;
}
.nav-item a:hover {
  color: white;
}
.nav {
  display: block;
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1rem;
}
#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
.form {
  padding: 1rem;
}
.card {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button {
  background-color: #80ffdb;
  color: #252525;
  opacity: 0.9;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: #80ffdb solid 2px;
}
.form-control {
  border-radius: 0.5rem;
}
.button:hover {
  background-color: #80ffdb;
  color: #252525;
  border: #80ffdb solid 2px;
  opacity: 1;
  border-radius: none;
  font-weight: bold;
}
.image {
  width: 80%;
  border-radius: 100%;
  z-index: 100;
}
.overlap {
  width: 50%;
  border-radius: 100%;
  top: 0.1rem;
  right: -2.5rem;
  position: absolute;
}
.googlebtn {
  border-right: solid #4285f4 2px;
  background-color: #ffffff;
  border-left: solid #db4437 2px;
  border-radius: 1rem;
  border-bottom: solid #f4b400 2px;
  opacity: 1;
  font-weight: bold;
  border-top: solid #0f9d58 2px;
  padding: 0.5rem 2.5rem;
}
.cardLogin {
  font-weight: 700;
  max-width: 30rem;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./bg.png");
  background-size: cover;
  color: black;
}
.google-icon-svg {
  width: 1.5rem;
  height: 1.5rem;
  user-select: none;
}
.button:focus {
  outline: none !important;
  box-shadow: none;
  background-color: #80ffdb;
}
.form-control:focus {
  color: #252525;
  outline: none !important;
  box-shadow: none;
  border: solid #80ffdb 1px;
}
.form-control:hover {
  outline: none !important;
  box-shadow: none;
  border: solid #80ffdb 1px;
}
td,
th,
table {
  border-style: solid;
  border-width: 1px;
  padding: 0rem;
  overflow-x: auto;
  table-layout: fixed;
}
td{
  text-align: right;
  padding: 0.2rem
}
th {
  padding: 0.7rem;
}
.newPartytable input::placeholder {
  white-space: pre-wrap;
}
.newRectable input::placeholder {
  white-space: pre-wrap;
}
.newDisptable input::placeholder {
  white-space: pre-wrap;
}

.newDisptable,
.newPartytable,
.newRectable, table {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.tab {
  margin-top: 1rem;
}
.tab .nav-item:hover {
  border-bottom: #252525 1px solid;
}
a{
  color: #252525;
}
a:hover{
  color: #252525;
}
.input{
  border: 1px solid #252525;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}
.input:focus{
  color: #252525;
  outline: none !important;
  box-shadow: none;
  border: solid #80ffdb 1px;
}
.input:hover {
  outline: none !important;
  box-shadow: none;
  border: solid #80ffdb 1px;
}
.modal {
  padding: 0 !important; 
}
.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal .modal-body {
  overflow-y: auto;
}
.spinner{
  position: absolute; 
  left: 50%;
  top:50%;
}
.allpartyTable th{
  width: 100%;
}
.back{
  text-align: center;
  background-color: #252525;
  /* max-width: 13.7rem; */
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

.ReactTable .rt-thead {
  overflow-y: scroll;
}