.sidebar {
  min-height: 100vh !important;
  z-index: 100;
  background-color: #252525 !important;
  padding: 2rem 0 0;
  border-radius: 0rem 0 4rem 0rem;
}
.sidebar a {
  color: #80ffdb ;
  font-weight: 400;
  text-decoration: none;
}
.nav {
  display: block;
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1rem;
}
#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
